
@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/iransans/IRANSans-Bold.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/iransans/IRANSans-Bold.woff2') format('woff2');  /* Chrome36+, Opera24+*/
    /*url('../fonts/iransans/IRANSans-Bold.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
    font-weight: bold;
}

@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/iransans/IRANSans-Black.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/iransans/IRANSans-Black.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/iransans/IRANSans-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: 900;
}


@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/iransans/IRANSans-UltraLight.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/iransans/IRANSans-UltraLight.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/iransans/IRANSans-UltraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: 200;
}

@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/iransans/IRANSans-Light-Expanded.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/iransans/IRANSans-Light-Expanded.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/iransans/IRANSans-Light-Expanded.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: 300;
}


@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/iransans/IRANSANSExpanded.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/iransans/IRANSANSExpanded.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/iransans/IRANSANSExpanded.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: normal;
}

.IRANSansUltraLight {
    font-family: IRANSans-web;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 200;
}

.IRANSansLight {
    font-family: IRANSans-web;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 300;
}

.IRANSans {
    font-family: IRANSans-web;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: normal;
}

.IRANSansBold {
    font-family: IRANSans-web;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: bold;
}

.IRANSansBlack {
    font-family: IRANSans-web;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 900;
}
/*./iransans webfont*/

@font-face {
    font-family: 'yekan';
    src: url(../fonts/byekan/Yekan.eot);
    src: url(../fonts/byekan/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/byekan/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(../fonts/byekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}







/*width*/
.width-100{
    width: 100%;
}
/*width*/
/*radius*/
.radious-51{
    border-radius: 51%;
}
/*radius*/
/*shadows*/
.box-shadow{
    box-shadow: 0px 0px 10px #888888;
}
/*shadows*/
/*color classes*/
.orangered{
    color: orangered !important;
}
.bg-green{
    background: #1a6169;
}
.diamond-yellow{
    color: #ffb90c;
}
.main-color-brown-khoshmaze{
    color: #836647 !important
}
.secondary-text-color{
    color: #626262;
}
.google-color{
    color: #db3236;
}
.red{
    color: red;
}
/*color classes*/
html{
    background-image: url("../images/background/home_recipes_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body{
    background: none;
    font-family: yekan;
}

#all-body-boxed{
    /*height: 1000px;*/
    background: #fcf9ef;
    margin-bottom: 75px;
    margin-top: 75px;
    box-shadow: 1px 1px 21px #888888;
    padding: 0px;
    max-width: 960px;
}
ul{
    list-style: none;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*top bar*/
#top-bar{
    /*height: 45px;*/
    background-color: #1c7430;
    border-bottom: 4px solid #ffb90c;
}
#top-bar ul{
    padding-right: 0px;
}
/*share-link*/
#share-links li{
        float: right;
        padding-left: 2%;
        line-height: 41px;
}
#share-links li a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #ffb90c;
    text-decoration: none;
}
#share-links li a:hover{
    font-weight: 500;
    color: #fff;
}
/*share-link*/
/*contact-bar*/
#contact-bar li{
    float: left;
    padding-right: 2%;
    line-height: 41px;
}
#contact-bar li a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #ffb90c;
    text-decoration: none;
}
#contact-bar li a:hover{
    font-weight: 500;
    color: #fff;
}
#contact-bar li{
    float: left;
    padding-right: 2%;
}
.fa-phone{
    -webkit-transform: rotate(119deg);
    -moz-transform: rotate(119deg);
    -ms-transform: rotate(119deg);
    -o-transform: rotate(119deg);
    transform: rotate(119deg);
}
/*contact-bar*/
/*top bar*/
/*header*/
#header{
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo{
    /*prespective : 1000px;*/
    position: relative;
    top: -300px;
    transform-style: preserve-3d;
    perspective: 100px;
    perspective-origin: right;
    animation-name: logo-rotate;
    /*animation-delay: 2s;*/
    animation-duration: 3s;
    /*animation-iteration-count: 2;*/
    /*animation-direction: alternate;*/
    animation-timing-function: ease-in;
     /*animation-play-state: paused;*/
    animation-fill-mode: forwards;

}
#logo:hover{
    /*animation-play-state: running;*/
}
@keyframes logo-rotate {
    0%{}
    30%{
        top: 0px;
    }
    50%{
        top: -50px;
    }
    60%{
        top: 0px;
    }
    70%{
        top: -20px;
    }
    80%{top: 0px;transform: rotateY(0deg)}
    100%{
        top: 0px;
        transform: rotateY(360deg);
    }
    
}
/*header*/
/*main-menu*/

#navbarSupportedContent{
    border-top: 2px solid;
    border-color: #00000014;
}
#navbarSupportedContent li{
    margin-left: 2.5rem;
}
#navbarSupportedContent ul{
    padding-right: 0px;
    justify-content: center;
    width: 100%;
}
#navbarSupportedContent ul li a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-top: 2px solid #fcf9ef;
}
#navbarSupportedContent ul li a:hover {
    border-top-color: #7c5d3d;
    /*color: #7c5d3d;*/
}
.dropdown-menu a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-top: unset !important;
}
.dropdown-menu a:hover{
    color: red !important;
}
/*main-menu*/
/*slider*/
#slider-box{
    border-bottom: 1px solid #4CAF50;
    border-top: 1px solid  #4CAF50;
    position: relative;
    margin-bottom: 20px;
}
#slider-box img{
    width: 100%;
    /*height: 450px;*/
    max-height: 490px;
}
.slider-arrow-right{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 139%;
    border: 1px solid #fff;
    border-radius: 51%;
    padding: 12px;
    position: absolute;
    top: 34%;
    right: 47px;
    cursor: pointer;
}
.slider-arrow-left{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 139%;
    border: 1px solid #fff;
    border-radius: 51%;
    padding: 12px;
     position: absolute;
     top: 34%;
     left: 47px;
    cursor: pointer;
}
.slider-arrow-right:hover{
    background-color: #7c5d3d;
    color: #fff;
}
.slider-arrow-left:hover{
    background-color: #7c5d3d;
    color: #fff;
}
/*slider*/
/*icon-box*/
#icon-box{
    margin-bottom: 40px;
}
.icon-box{
    padding: 5px;
    box-shadow: 0px 0px 10px #888888;
}

    .icon-box img{
        width: 100%;
        border-radius: 27%;
    }
.icon-box h2{
    padding-top: 10px;
    font-weight: 400;
    font-size: 146%;
    color: #7c5d3d;
}
.icon-box p{
    color: #212121;
}
/*icon-box*/
/*article-box*/
.article-box h2{
    padding-top: 10px;
    font-weight: 400;
    font-size: 146%;
    color: #7c5d3d;
}
.article-box p{
    color: #626262;
    line-height: 180%;
}
.article-box img {
    box-shadow: 0px 0px 10px #888888;
    border-radius: 3px;
    width: 100%;
}
.article-content{
    position: relative;
}
.article-read-more{
    position: absolute;
    left: 6%;
}
.article-comment-color{
    color: #59be84
}
.article-side-comment-text{
    color: #7c5d3d;
}
.article-content a{
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.article-content a:hover{
    color: orangered;
    display: inline-block;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}
.article-box{
    margin-bottom: 30px;
}
#recipe-section{
    margin-bottom: 40px;
}
/*article-box*/
/*portfolio-slider*/
.portfolio-item{
    width: 80%;
}
.portfolio-item img{
    width: 100%;
    box-shadow: 0px 0px 10px #888888;
}
.portfolio-item-profile{
    border-radius: 51%;
}
.portfolio-item-image{
    margin-bottom: 20px;
}
.portfolio-item-content{
    line-height: 180%;
    position: relative;
}
.portfolio-item-link{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #59be84;
    text-decoration: none !important;
}
#portfolio-slider .portfolio-item-link:hover{
    color: orangered;
    display: inline-block;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}
#portfolio-slider .portfolio-item-like-number{
    position: absolute;
    left: 15px;
    bottom: 14px;
    text-decoration: none;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
#portfolio-slider .portfolio-item-like-icon{
    z-index: 100;
}
#portfolio-slider .portfolio-item-like-icon a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#portfolio-slider .portfolio-item-like-icon a:hover{
    color: orangered;
}
#portfolio-slider .portfolio-item-like-icon:hover + span.portfolio-item-like-number{
    color: red;
    bottom: 52px;
    font-size: 130%;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
#portfolio-slider .portfolio-item-google-icon{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#portfolio-slider .portfolio-item-google-icon:hover{
    color: orangered;
}
/*portfolio-slider*/
/*footer*/
#footer{
    background-color: #dfb484;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 2px solid #1c7430;
}
#footer h3{
    font-size: 139%;
    font-weight: 400;
    text-align: center;
}
/*footer-logo*/

#footer-logo ul{
    line-height: 180%;
    padding-right: 10px;
}
/*footer-logo*/
/*best-articles*/
#best-articles img{
    width: 100%;
}
.hover-effect-footer-image{
    transition: all .5s;
}
.hover-effect-footer-image:hover .footer-h3-hover{
    opacity: .75;
    color: #fff;
    background: #1c7430;
    bottom: 0%;
}
.footer-h3-hover{
    -webkit-transition: background-color .5s  ease-in, color .5s ease-out, bottom .5s ease-out;
    -moz-transition: background-color .5s  ease-in, color .5s ease-out, bottom .5s ease-out;
    -ms-transition: background-color .5s  ease-in, color .5s ease-out, bottom .5s ease-out;
    -o-transition: background-color .5s  ease-in, color .5s ease-out, bottom .5s ease-out;
    transition: background-color .5s  ease-in, color .5s ease-out, bottom .5s ease-out;
    margin-bottom: 0px;
    position: absolute;
    bottom: -40%;
    /* top: 0%; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    opacity: 0;
    color: #235d28;
    background: #5b5c5b;

    padding-top: 7%;
    padding-bottom: 7%;
    /* width: 90%; */
}
/*best-articles*/
/*comments-section*/
.comments-image img{
    width: 100%;
}
.comments-image{
    padding-right: 5px;
    padding-left: 5px;
}
.comments-content{
    padding-right: 2px;
    padding-left: 2px;
}
.comments-content span{
    font-size: 89%;
}
.comments-content p{
    margin-top: 5px;
}
/*comments-section*/
/*copy-right*/
    #copy-right{
        height: 45px;
        background-color: #1c7430;
    }
    #copy-right a{
        color: #ffb90c;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -ms-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
        text-decoration: none;
        margin: 0 2px;
    }
    #copy-right a:hover{
    color: aliceblue;
    }
#copy-right p{
    margin-bottom: 0px;
    line-height: 45px;

}
/*copy-right*/
/*footer*/
/*media-styles-responsive*/
/*extra small screens*/
@media screen and (max-width: 576px) {
    #share-links ul,#contact-bar ul{
        display: flex;
        justify-content: center;
    }
    #share-links ul{
        margin-bottom: 0px !important;
    }
    #contact-bar ul{
        display: none !important;
    }
    div.icon-box{
        margin-bottom: 30px;
    }
    .portfolio-item{
        width: 100%;
    }
    .portfolio-item-profile{
        display: none;
    }
}
/*@ media max 576*/
/*extra small screens*/

/*small screen section()*/
@media screen and (min-width: 576px) {

}
/*small screen section()*/

/*medium section()*/
@media screen and (min-width: 768px) {}
/*medium section()*/

/*large screens section()*/
@media screen and (min-width: 992px) {
    /*.portfolio-item-profile{*/
        /*display: block;*/
    /*}*/
}
@media screen and (max-width: 992px) {
    #share-links ul,#contact-bar ul{
        display: flex;
        justify-content: center;
    }
    #navbarSupportedContent ul li a{
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        border-top: unset !important;
    }
    #navbarSupportedContent ul li a:hover {
       color: red !important;
        /*color: #7c5d3d;*/
    }
}
/*large screens section()*/
/*media-styles-responsive*/
